@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.Bg {
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);
    height: 77vh;
    width: 53vh;
    font-family: Roboto;
}

.Bg h1 {
    color: #ffffff;
    background-color: #323f4b;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

.flex-container {
    display: grid;
}

.btn1,
.btn3,
.btn5,
.btn7 {
    color: white;
    background-color: #47a3f3;
    padding: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
    margin-bottom: 10px;

}

.btn2,
.btn4,
.btn6 {
    color: white;
    background-color: #52606d;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;

}